import './{{pascalCase name}}.scss';

interface {{pascalCase name}}Props { }

function {{pascalCase name}}({ }: {{pascalCase name}}Props) {
  
  return (
    <div className="{{dashCase name}}">
    </div>
  );
}

export default {{pascalCase name}};
